<ng-container *ngIf="contact; else errorDisplay">
  <section class="contact-details">
    <article class="contact-info">
      <h1>{{ contact.name }}</h1>
      <p>{{ contact.email }}</p>
      <p>{{ contact.phone }}</p>
    </article>
    <article class="img">
      <img src="https://robohash.org/{{ contact._id }}?set=set4" alt="" />
    </article>
    <a class="back" routerLink="/contact">
      <img src="../../../assets/images/back.png" alt="back" />
    </a>
    <a class="edit" [routerLink]="['/edit', contact._id]">
      <img src="../../../assets/images/edit.png" alt="back" />
    </a>
  </section>
</ng-container>

<ng-template #errorDisplay>
  <div class="error-message">There was a problem fetching contact details.</div>
</ng-template>
