.contact-details {
  margin: 1em;
  padding: 1em 2em;
  background-color: rgba(69, 122, 69, 0.507);
  width: fit-content;
  border-radius: 0.5em;
  box-shadow: rgba(69, 122, 69, 0.507);
  display: flex;
  gap: 0.5em;
  position: relative;

  .contact-info {
    display: grid;
    gap: 0.5em;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 700;
    align-items: center;
  }
  .img {
    margin: 1em;
    img {
      width: 150px;
      height: 150px;
    }
  }
  a {
    position: absolute;
    &.back {
      top: 5px;
      right: 5px;
    }
    &.edit {
      bottom: 5px;
      right: 5px;
    }
    img {
      width: 1.5em;
      height: 1.5em;
    }
  }
}
