.contact-list {
    margin-block-start: .5em;
    max-width: 550px;
    // display:flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .75em;
}